.container{
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: white;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container img{
    height: 80%;
}