.checkout{
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 550px;
    float: left;
    margin-right: 1%;
    text-align: left;
}

.btn{
    width: 94%;
    height: 50px;
    margin-left: 7px;
    border-radius: 10px;
    background-color: orange;
    border: none;
    box-shadow: 1px 5px 10px orange;
}

.policytext{
    font-size: 12px;
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    .checkout{
        width: 100%;
        margin-right: 0;
        clear: both;
        display: table;

    }
}

