.program{
    display: flex;
    position: relative;
    z-index: 0;
    flex-direction: column;
    width: 49%;
    float: right;
    height: 550px;
    text-align: left;
    margin-left: 1%;
}

@media screen and (max-width: 768px){
    .program{
        width: 100%;
        margin-left: 0;
        float: none;
        clear: both;
    }
}